/* @import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
main {
  padding: 0 15px 0;
  margin: 110px 0;
}
a,
button {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
ul {
  padding: 0;
  margin: 0;
}
.errorBtn {
  padding: 10px 15px;
  border: 1px solid black;
  background-color: white;
  background-color: black;
  text-transform: uppercase;
  font-size: 16px;
  text-decoration: none;
  color: white;
}
.errorBtn:hover {
  color: black;
  background-color: white;
}
